*.sublime-project
*.sublime-workspace

.dockerignore
.DS_Store
.git
.gitignore
.idea/
.nyc_output
.vscode

bundle.js
coverage
dist
docker-compose*
Dockerfile*
dump.rdb
LICENSE
logs
node_modules
npm-debug.log
yarn.lock
package-lock.json
pids
README.md
results